<div class="container">
  <div class="row">
    <div class="col-8">
      <h1><%= @restaurant.name %></h1>
      <h6 class="card-subtitle mb-2 text-muted">ЁЯУН <%= @restaurant.address %></h6>
      <p class="card-text"><%= 'тнРя╕П' * @restaurant.rating %></p>
      <%= link_to "Delete",
        restaurant_path(@restaurant),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    </div>
  </div>
</div>